<!-- Wappler include is="dmx-app" id="video" appConnect="local" bootstrap5="local" bootstrap_icons="local" fontawesome_5="local" -->

<div class="container-fluid" id="sharecontainer"><i class="fas fa-share-alt"></i></div>
<!-- New Wappler Page -->