<!-- Wappler include jquery_slim_33="cdn" is="dmx-app" id="videorating" appconnect="local" bootstrap5="local" bootstrap_icons="local" head-page="layouts/Main" fontawesome_5="local" -->
<div class="container" id="ratingcontainer">
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
</div>