<!-- Wappler include is="dmx-app" id="videocontent" appconnect="local" bootstrap5="local" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap_icons="local" components="{dmxTyped:{},dmxDatastore:{},dmxStateManagement:{}}" dmx-show="'Tab_State.value=1'" head-page="layouts/Main" -->
<meta name="ac:route" content="/JT1">


<div class="container-fluid">
    <div class="info" id role="contentinfo">
        <h2>Title Here</h2>
        <p dmx-show="nav_state.value==1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vel pariatur nisi repellendus eligendi aut sint, reprehenderit natus laboriosam, necessitatibus architecto quod nam quia? Sunt
            reiciendis
            quam accusantium vero
            exercitationem.
            <span is="dmx-typed"></span>
        </p>
        <div class="row">
            <div class="col">
                <p>{{Tab_State.value}}</p>
                <p>{{State1.value}}</p>
            </div>
        </div>
    </div>
</div>