<!doctype html>
<html>

<head>
  <meta name="ac:route" content="/JT1">
  <base href="/">
  <script src="dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Untitled Document</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap-icons.css" />
  <script src="dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>
  <script src="dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer=""></script>
  <link rel="stylesheet" href="css/style.css" />
  <script src="dmxAppConnect/dmxDatastore/dmxDatastore.js" defer=""></script>
  <script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
  <script src="dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
  <script src="dmxAppConnect/dmxTyped/dmxTyped.js" defer=""></script>
  <script src="dmxAppConnect/dmxTyped/typed.min.js" defer=""></script>
  <link rel="stylesheet" href="fontawesome5/css/all.min.css" />
  <link rel="stylesheet" href="dmxAppConnect/dmxAnimateCSS/animate.min.css" />
  <script src="dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer=""></script>
</head>

<body is="dmx-app" id="Main">

  <dmx-value id="query_lesson_name" dmx-bind:value="'First Video Lesson'"></dmx-value>



  <dmx-value id="nav_state"></dmx-value>

  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>


  <div class="container-fixed px-0">
  </div>
  <div class="container-fluid">
    <div class="row align-items-xxl-center">


      <div class="col-3 column_fixed col-xxl-3 col-xl-2 p-0">
      </div>
      <div class="d-flex flex-row align-items-center align-self-xxl-center align-items-xxl-center col align-self-center mt-2 mb-2 border-bottom rounded-1 border-secondary col-xxl col-xl style7" id="video_tools">
        <p id="rating_text" class="paragraph_style1"><b style="">Rate this session</b></p>
        <p id="rating_icon" class="icon_style1"><i class="bi-star"></i>
          &nbsp;&nbsp;
          <i class="bi-star"></i>
          &nbsp;&nbsp;
          <i class="bi-star"></i></p>
        <p id="sharing_icon" class="icon_style2"><i class="bi-share"></i></p>
        <p id="sharing_text"><b style="">Share</b></p>
      </div>



      <div class="offset-3 col-3 col-xxl-3 ms-xl-0 ps-xl-0 col-xl-3 offset-xl-2"></div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="row">


      <div class="col-3 col-xxl-3 p-0 style8 col-xl-2" id="nav_bar_col">
        <ul class="nav flex-column nav-pills nav-flush; navstyle">
          <li class="nav-item">
            <a class="nav-link text-start active" style="cursor: pointer;" data-bs-toggle="tab" id="navinfo" dmx-on:click="nav_state.setValue(1)" data-bs-target="#tab_info" aria-current="Page" target="_blank"><i class="bi-info-circle icon_style"
                id="nav-icon1"></i>&nbsp;Info</a>
          </li>
          <li class="nav-item" style="">
            <a class="nav-link" id="navnotes" dmx-on:click="nav_state.setValue(2)" data-bs-toggle="tab" data-bs-target="#tab_notes" target="_blank"><i class="bi-journal-bookmark-fill icon_style"></i>&nbsp;Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" id="navdownloads" dmx-on:click="nav_state.setValue(3)" data-bs-toggle="tab" data-bs-target="#tab_downloads"><i class="bi-file-earmark-image icon_style"></i>&nbsp;Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navassignments" dmx-on:click="nav_state.setValue(4)" data-bs-toggle="tab" data-bs-target="#tab_assignments"><i class="bi-pencil-square icon_style"></i>&nbsp;Assignments</a>
          </li>
        </ul>
      </div>
      <div class="d-flex flex-row align-items-center col justify-content-start col-xxl align-items-xl-start col-xl" id="video_content_col" style="">
        <div class="row align-items-xl-start">
          <div class="col-xl-12">
            <h3>
              {{query_lesson_name.value}}</h3>
          </div>
          <div class="col-xl-12">
            <div class="tab-content" id="video_content_tab">
              <div class="tab-pane fade show active tabstyle" id="tab_info" role="tabpanel" aria-labelledby="navinfo">

                <p> Text info <br>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facilis fuga commodi, velit labore amet nobis eum voluptas totam, earum ratione rerum distinctio iusto temporibus perspiciatis facere deleniti tempora cum.</p>
              </div>
              <div class="tab-pane fade" id="tab_notes" role="tabpanel" aria-labelledby="navnotes">
                <p>Text notes</p>
              </div>
              <div class="tab-pane fade" id="tab_downloads" role="tabpanel" aria-labelledby="navdownloads">
                <p>Text Downloads</p>
              </div>
              <div class="tab-pane fade" id="tab_assignments" role="tabpanel" aria-labelledby="navassignments">
                <p>Text Assignments</p>
              </div>
            </div>
          </div>
        </div>






      </div>


      <div class="offset-3 col-3 col-xxl-3 ms-xl-0 ps-xl-0 col-xl-3 offset-xl-2"></div>
    </div>


  </div>
  <div class="container-fixed px-0">




  </div>
  <div class="w-100"></div>
  <script src="bootstrap/5/js/bootstrap.bundle.min.js"></script>




  <div class="sidebar-sticky">
  </div>
</body>

</html>