<!-- Wappler include jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="JT1" appConnect="local" bootstrap5="local" bootstrap_icons="local" components="{dmxStateManagement:{}}" -->
<meta name="ac:route" content="/JT1">
<!-- New Wappler Page -->

<div style="background-color: black;">
    <div class="container-xl" id="mainvideo" style="">

        <div id="video-embed" class="row">
            <div class="col p-0">
                <div style="position: relative; padding-top: 56.25%;">
                    <iframe src="https://iframe.videodelivery.net/d4ad365197598fbc499db1979372e61a" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"
                        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
</div>